*{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     text-decoration: none;
     list-style: none;
}

.left{
    text-align: left;
    padding: 45px 48px;
}

.right{
    text-align: right;
    padding: 48px 53px;
}

.imglft{
    padding: 65px 66px;
}

.imgrgt{
    padding: 73px 77px;
    justify-content: space-between;
    color: orange;
}

mn{
    color: #0E0D5D;
    padding: 233px 65px;
}